In [1]:
# Inspired by https://github.com/femtotrader/python-eodhistoricaldata/blob/master/eod_historical_data/data.py
import requests
import os

In [2]:
# Set testing Key if API_KEY does not exist
if os.environ.get("API_KEY") == None:
    os.environ["API_KEY"] = "OeAFFmMliFG5orCUuwAKQ8l4WWFQ67YX"

In [4]:
base_url = "https://eodhistoricaldata.com/api/"
data_type = "eod/"
symbol = "MCD"
exchange = "US"
symb_exch = symbol + "." + exchange
api_token = os.environ.get("API_KEY")
period = "d"
order = "a"
fmt = "json"

params = {
    "api_token": api_token,
    "period": period,
    "order": order,
    "fmt": fmt
}

url = base_url + data_type + symb_exch

In [5]:
r = requests.get(url=url, params=params)

In [6]:
r.status_code

200

In [9]:
import pandas as pd

df = pd.DataFrame.from_dict(data = r.json())

In [10]:
df.head()

         date    open    high     low   close  adjusted_close  volume
0  1980-03-17  37.007  37.625  36.754  37.007          0.3666  118501
1  1980-03-18  37.503  37.756  36.875  37.503          0.3711  293101
2  1980-03-19  37.878  38.131  37.382  37.878          0.3747   89901
3  1980-03-20  37.503  38.131  37.128  37.503          0.3711   62501
4  1980-03-21  37.128  37.625  37.128  37.128          0.3678   48901

In [11]:
df.describe()

,open,high,low,close,adjusted_close,volume
count,10235.000000,10235.000000,10235.000000,10235.000000,10235.000000,1.023500e+04
mean,67.330130,67.924104,66.734081,67.350705,38.373434,3.499869e+06
std,42.788604,43.065892,42.521365,42.798000,50.699095,3.635937e+06
min,12.420000,12.550000,12.120000,12.380000,0.358800,0.000000e+00
25%,37.625000,38.125000,37.128000,37.740000,4.238400,6.013500e+05
50%,55.626000,56.260000,55.020000,55.640000,16.574200,2.753500e+06
75%,79.980000,80.893500,79.260500,80.064000,54.041550,5.233831e+06
max,228.410000,230.000000,227.350000,229.640000,229.640000,8.698180e+07

In [20]:
df["date"] = pd.to_datetime(arg=df["date"], format="%Y-%m-%d")

In [22]:
df["date"].describe()

count                   10235
unique                  10235
top       1989-12-27 00:00:00
freq                        1
first     1980-03-17 00:00:00
last      2020-10-15 00:00:00
Name: date, dtype: object

In [27]:
df["volume"] = df["volume"].astype("Int32")

In [28]:
df["volume"].describe()

count    1.023500e+04
mean     3.499869e+06
std      3.635937e+06
min      0.000000e+00
25%      6.013500e+05
50%      2.753500e+06
75%      5.233831e+06
max      8.698180e+07
Name: volume, dtype: float64